* {
    box-sizing: border-box;
}

h1{
  color: red;
}

.board {
    background: deepskyblue;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 200px;
}

.container {
    flex: 0 1 50px;
    height: 50px;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right {
    -webkit-transform: translate(50px, 0);
    -webkit-transition: all 0.5s ease-in;
}

.left {
    -webkit-transform: translate(-50px, 0);
    -webkit-transition: all 0.5s ease-in;
}

.selected {
    border: 1px solid snow;
}

.cell {
    flex: 0 1 30px;
    height: 30px;
    background: tomato;
}